<div class="row" style="background-color: #343a40; box-shadow: 0px 0px 3px rgb(73, 73, 73);">
  <div class="col s0"></div>
  <div class="col s12">
    <div class="card-panel">
      <div class="card-action right-align">
        <a routerLink="/dashboard" routerLinkActive="dashboard" style="font-size: 12pt; font-weight: bold">Dashboard&ensp;</a>
      </div>
      <div class="trab-titulo">
        <span class="card-title">Trabalho Atual&ensp;- </span>
      </div>
      <div class="row" *ngFor="let t of trabalho">
        <div class="trab-nome">{{t.nome}}</div>
        <div class="trab-nun">{{t.idNumero}}
          <div class="divider"></div>
          <div class="info">Número</div>
        </div>
        <div class="trab-inicio">{{t.dataInicio.toDate() | date: 'dd/MM/yyyy'}}
          <div class="divider"></div>
          <div class="info">Data de Abertura</div>
        </div>
        <div class="trab-final">
          <a materialize="tooltip" data-position="top" data-tooltip="Trabalho Atrasado!!!">
            <div *ngIf="hoje/1000 > t.dataFinal.seconds && t.status != 'Concluído'" style="color: red;">{{t.dataFinal.toDate() | date: 'dd/MM/yyyy'}}</div>
          </a>
          <div *ngIf="t.status === 'Concluído'">{{t.dataFinal.toDate() | date: 'dd/MM/yyyy'}}</div>
          <div *ngIf="t.dataFinal.seconds > hoje/1000 && t.status !== 'Concluído'">{{t.dataFinal.toDate() | date: 'dd/MM/yyyy'}}</div>
          <div class="divider"></div>
          <div class="info">Data de Conclusão</div>
        </div>

        <div class="trab-status">
          <a materialize="tooltip" data-position="top" data-tooltip="Mudar Status" onChange="Materialize.toast('Status alterado com Sucesso!', 3000)">
            <select materialize="material_select" (change)="updateTrabalho(t)" [(ngModel)]="t.status">
              <option value="Aberto">Aberto</option>
              <option value="Concluído">Concluído</option>
            </select>
          </a>
        </div>
        <div class="info-descricao">Descrição</div>
        <div class="trab-descricao">{{t.descricao}}
        </div>
      </div>
    </div>    
    <div class="card-panel">
      <app-tarefas></app-tarefas>
    </div>
  </div>
</div>
