<div tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Visualizar Trabalho</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3" >
        <div>
            <input type="text" class="md-form mb-1" [(ngModel)]="trabalhoNovo.descricao" placeholder="Descrição"/>
            <input type="text" class="md-form mb-1" [(ngModel)]="trabalhoNovo.idNumero" placeholder="id"/> 
            <input type="date" class="md-form mb-1" [(ngModel)]="dataTempFinal" value="dataTempFinal"/>
            <button (click)="onClick()"> teste </button>
            <input type="datetime-local" class="md-form mb-1" [(ngModel)]="dataFinalLocal" placeholder="data Final"/>
            <!-- {{dataInicioLocal  | date:'MMMM d, y'}} -->
            {{dataFinalLocal}}
            <button (click)="onSubmit()"> OK </button>
            <input type="checkbox" (change)="updateTrabalho(t)" [(ngModel)]="trabalhoNovo.concluido" name="concluido">

        </div>

        

      </div>
    </div>
  </div>
