<div class="row" style="background-color: #343a40; box-shadow: 0px 0px 3px rgb(73, 73, 73);">
    <div class="col s0"></div>
    <div class="col s12">
        <div class="card-panel">
            <div class="card-action right-align">
                <a routerLink="/dashboard" routerLinkActive="dashboard" style="font-size: 12pt; font-weight: bold">Dashboard&ensp;</a>
            </div>
            <span class="card-title" style="font-size: 18pt; font-weight: bold; padding-left: 10%">Todos Trabalhos</span>
            <div class="row">
                <app-trabalhos-tabela></app-trabalhos-tabela>
            </div>
        </div>
    </div>
</div>