<div class="row" style="background-color: #343a40; box-shadow: 0px 0px 3px rgb(73, 73, 73);">
  <div class="col s2"></div>
  <div class="col s8">
    <div class="card-panel">
      <div class="card-action right-align">
        <a routerLink="/dashboard" routerLinkActive="dashboard" style="font-size: 12pt; font-weight: bold">Dashboard&ensp;</a>
      </div>
      <span class="card-title" style="font-size: 18pt; font-weight: bold">&ensp;Adicionar um novo Trabalho</span>
      <div class="row">
        <div class="input-field col s9">
          <input id="descricao" [(ngModel)]="trabalhoNovo.descricao" type="text">
          <label for="descricao">Descreva o novo trabalho.</label>
        </div>
        <div class="input-field col s3">
          <input type="date" [(ngModel)]="dataTempFinal">
          <span class="helper-text">Data de conclusão.</span>
        </div>
      </div>
      <div class="card-action center-align">
        <button class="btn waves-effect waves-light blue darken-3" type="submit" (click)="onSubmit()" name="action">Salvar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>
</div>