<div class="main-content">
  <div class="row">
    <div class="col s1"></div>
    <div class="col s10">
      <table class="responsive-table highlight bordered centered">
        <thead>
          <tr>
            <th>Nº</th>
            <th>Nome</th>
            <th>Data de início</th>
            <th>Data de finalização</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trabalho of trabalhos" [routerLink]="['/trabalho',trabalho.idNumero]" style="cursor: pointer;">
            <td>{{trabalho.idNumero}}</td>
            <td>{{trabalho.descricao}}</td>
            <td>{{trabalho.dataInicio.toDate() | date: 'dd/MM/yyyy'}}</td>
            <td>{{trabalho.dataFinal.toDate() | date: 'dd/MM/yyyy'}}</td>
            <td>{{trabalho.status}}</td>
            <tr>
        </tbody>
      </table>
    </div>
  </div> 
</div>