<!-- menu -->
<div class="navbar-fixed">
  <nav class="orange" role="navigation">
      <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo">
              <div class="logo center-block"></div>
          </a>
          <ul class="left hide-on-med-and-down">
              <li><a (click)="form_logout()"><i class="material-icons left">power_settings_new</i>Sair</a></li>              
          </ul>
          <a href="#" materialize="sideNav" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
  </nav>
</div>
<ul id="nav-mobile" class="side-nav">
  <!-- <li><a (click)="form_logout()"><i class="material-icons left">power_settings_new</i>Sair</a></li> -->
  <button class="waves-effect waves-teal btn-flat" style="text-align: center" (click)="form_logout()"><i class="material-icons left">power_settings_new</i>Sair</button> 
</ul>
<!-- conteúdo -->
<div style="text-align:center; margin-top: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
  <img style="width: 300px" alt="Angular Logo" src="assets/imagens/construcao.png">
  <p>
    Você está logado!
  </p>
</div>